<include file="Public/header" />
		<p>
		
		this is register page!
		
		</p>
		<h3 id="info"></h3>
		
		<form action="{:U('Home/user/register')}" id="register_form" method="post">
			name:		<input type="text" name="name" id="name" value="" /><br />
			password:	<input type="password" name="password" id="password" value="" /><br />
			con_pass:	<input type="password" name="con_pass" id="" value="" /><br />
			email:		<input type="text" name="email" id="" value="" /><br />
			
			<input type="button" id="register_btn" name="" value="go" />
		</form>
<include file="Public/footer" />

<script type="text/javascript">
$(function(){
	$('#register_btn').click(function(){
		var register_data = $('#register_form').serialize();
		var action = $('#register_form').attr('action');
		
		$.post(action,register_data,function(res){
			$('#info').html('Status:'+res.status+' info:'+res.value);
		});
	});
});
</script>
