<extend name="Public:base" />
<block name="left">
	<ul class="list-group">
		<li class="list-group-item">
			会员管理
			<ul class="list-group">
				<li class="list-group-item">新增会员</li>
				<li class="list-group-item">会员列表</li>
			</ul>
		</li>
	</ul>
</block>

<block name="content">
	<form id="edit_form" class="form-horizontal" action="{:U('Admin/user/edit')}">
		<div class="form-group">
			<label for="" class="col-sm-2 control-label">用户名</label>
			<div class="col-sm-10">
				<input value="{$user_info.name}" name="name" type="text" class="form-control" id="" placeholder="用户名">
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-2 control-label">密码</label>
			<div class="col-sm-10">
				<input type="password" name="password" class="form-control" id="" placeholder="密码">
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-2 control-label">Email</label>
			<div class="col-sm-10">
				<input value="{$user_info.email}" name="email" type="email" class="form-control" id="" placeholder="Email">
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button id="edit_btn" type="button" class="btn btn-default">确定</button>
			</div>
		</div>
	</form>

	<script type="text/javascript">
		$(function(){
			$('#edit_btn').click(function(){
				var register_data = $('#edit_form').serialize();
				var action = $('#edit_form').attr('action');
				
				$.post(action,register_data,function(res){
					//$('#info').html('');
					for(var r in res){
						$('body').append(res[r]+'<br />');
					}
				});
			});
		});
	</script>

</block>